<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [ngClass]="{'active': currenturl === '/zollerfassung'}"><a href="/zollerfassung">Zollerfassung</a></li>
                <li [ngClass]="{'active': currenturl === '/lieferant'}"><a href="/lieferant">Lieferant</a></li>
                <li [ngClass]="{'active': currenturl === '/herkunft'}"><a href="/herkunft">Herkunft</a></li>
                <li [ngClass]="{'active': currenturl === '/gasart'}"><a href="/gasart">Gasart</a></li>
                <li [ngClass]="{'active': currenturl === '/spediteur'}"><a href="/spediteur">Spediteur</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <router-outlet></router-outlet>
    <footer>
        <p></p>
    </footer>
</div>